<div class="event-teaser teaser">
  <div class="event-content">
    <h3 class="event-title"><%= event.title %></h3>

    <p class="event-summary">
      <%= event.summary %>
    </p>
  </div>

  <div class="links">
    <%= link_to 'Edit', edit_event_path(event) %> |
    <%= link_to 'Back', events_path %>
  </div>
</div>
